<h1>Depositos</h1>
<p> <%= link_to "Crear Depósito", new_user_warehouse_path(current_user) %> </p>

<% @warehouses.each do |warehouse| %>
  <p><%= warehouse.name %> <%= link_to "Editar", edit_user_warehouse_path(id: warehouse) %> <%= link_to "Eliminar", user_warehouse_path(id: warehouse), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %> <%= link_to "Productos", warehouse_products_path(warehouse) %> </p>
<% end %>