<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: "Inventrack" %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= javascript_include_tag "turbo", type: "module" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= render "shared/flashes" %>
    <%= render Navbar::GuestComponent.new %>
    <%= yield %>
  </body>
</html>
